span#break-label>strong,
span#session-label>strong {
    font-size: 1.6rem;
    line-height: 10px;
    margin: 10px;
}

span#break-label {
    display: inline-block;
    width: 50%;
    text-align: right;

}

span#break-label>div {
    width: 100%;
}

span#session-label {
    display: inline-block;
    width: 50%;
    text-align: left;

}