* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  width: 20px;
  height: 20px;
  margin: auto 10px;
}

.App {
  text-align: center;
  font-size: 16px;

}

.App div {
  width: 100%;
  padding: 10px;
}

#beep {
  visibility: hidden;
}